#table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

#table th{
    background-color: #f0f0f0;
}

#table th, 
#table td {
    width: 100px;
    max-width: 100px;
    
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

#table td p {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

#table td input {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: 2px solid blue;
    background: transparent;
    box-sizing: border-box;
}

.rowID {
    text-align: center;
    background-color: #f0f0f0;
}

.cellDataEntry{
    width: 100%;
}

.resizer-col {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
}

.resizer-col:hover {
    background-color: #2196f3;
}

.resizer-row {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: row-resize;
    z-index: 10;
}

.resizer-row:hover {
    background-color: #2196f3;
}

.rowID{position: relative;
    height: inherit
}